*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}


/* Header */
header {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  header a {
    text-decoration: none;
    color: #333;
  }





h2{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: rgb(63, 140, 240);
}





.container{
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
    overflow: hidden;
    }



    .barra_buscador{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    
    .formulario{
        display: flex;
        width: 100%;
        overflow: hidden;
    }

table{
    width: 100%;
    border-collapse: collapse;
}

table .head{
background: rgb(3, 113, 163);
}
table .head td{
    color: #fff;
    font-family: 'Arial',sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

table tr td{
    border:1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    color: #555;
}


.btn_update{
    display: inline-block;
    font-size: 14px;
    background: #1b743c;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn_delete{
    display: inline-block;
    font-size: 14px;
    background: #8a0505;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}